In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/datailham.csv', delimiter='\t')

In [11]:
df.tail()

                                                 Tweet Label
115  bener sih waktu itu lagi pengen nonton yg sedi...   Sad
116              pagi" saya udh di sambut tangis bunda   Sad
117                 mon, jgn cerita sedih muluu.. ____   Sad
118                                   sedih banget :((   Sad
119  yatuhann sedih bgt gue juga dritadi bacain rev...   Sad

In [17]:
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [18]:
lemmatizer = WordNetLemmatizer()

In [19]:
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # Tokenize
    words = word_tokenize(text)
    
    # Remove stop words and lemmatize
    words = [lemmatizer.lemmatize(word) for word in words if word not in stopwords.words('indonesian')]
    
    # Join words back into a single string
    return ' '.join(words)

In [20]:
df['Processed_Tweet'] = df['Tweet'].apply(preprocess_text)

In [21]:
df[['Tweet', 'Processed_Tweet', 'Label']].head()

,Tweet,Processed_Tweet,Label
0,pagi2 udah di buat emosi :),pagi2 udah emosi,Anger
1,"kok stabilitas negara, memange 10 thn negara t...",stabilitas negara memange 10 thn negara tdk am...,Anger
2,dah lah emosi mulu liat emyu,dah emosi mulu liat emyu,Anger
3,"aib? bodoh benar! sebelum kata aib itu muncul,...",aib bodoh aib muncul tindakan kekejian kau sem...,Anger
4,dih lu yg nyebelin bego,dih lu yg nyebelin bego,Anger

In [22]:
df.to_csv('../data/preprocessing.csv')